@model IEnumerable<Fiap.Exemplo02.MVC.Web.Models.Aluno>

@{
    ViewBag.Title = "Lista de alunos";
}
<br />

@if (TempData["mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["mensagem"]
    </div>
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Novo aluno", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bolsa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desconto)
        </th>
        <th>
            Acões
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bolsa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desconto)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id = item.Id, @class = "btn btn-sm btn-warning" })
            <a href="#" onclick="callExcluirModal(@item.Id)" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ExcluirModal">Excluir</a>
        </td>
    </tr>
}

</table>


<!-- Modal -->
<div id="ExcluirModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Deseja excluir o aluno?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                <form method="post" action="Excluir">
                    <input type="hidden" id="id-aluno"/>
                    <input type="submit" value="Sim" class="btn btn-default" />
                </form>
            </div>
        </div>

    </div>
</div>

<script>
    function callExcluirModal(id) {
        $("id-aluno").val(id);
    }
</script>